# MongoDB

Andrea Franco c0931897

In [1]:
import pymongo
from pymongo import MongoClient

In [2]:
client = MongoClient()

db = client.test

In [3]:
employee = db.employee

In [4]:
print(client.list_database_names())

['admin', 'config', 'local']

In [5]:
dblist = client.list_database_names()
if "test" in dblist:
    print("The {} exists.".format('test'))

In [6]:
print(db.list_collection_names())

[]

In [7]:
collist = db.list_collection_names()
if "employee" in collist:
    print("The employee collection exists.")

In [8]:
employee_details = {
    'Name': 'Raj Kumar',
    'Address': 'Sears Streer, NZ',
    'Age': '42'
}

result = employee.insert_one(employee_details)

In [9]:
print(result.inserted_id)

66eceaf58e84545cc0da098a

In [10]:
mylist = [{"_id":1,"name":"John","address":"Highway 37"},
          {"_id":2,"name":"Peter","address":"Lowstreet 27"},
          {"_id":3,"name":"Amy","address": "Close st 652"},
          {"_id":4,"name":"Hannah","address":"Mountain 21"},
          {"_id":5,"name":"Michael","address":"Valley 345"},
          {"_id":6,"name": "Vicky", "address": "Yellow Garden 124"},
          {"_id":7,"name": "Nicky", "address": "Yellow Garden 23"},
          {"_id":8,"name": "Nancy", "address": "Younge Ave. 123"},
          {"_id":9,"name": "Viola", "address": "Sideway Ave"}]

In [11]:
x = employee.insert_many(mylist)
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
print(client.list_database_names())

['admin', 'config', 'local', 'test']

In [14]:
dblist = client.list_database_names()
if "test" in dblist:
    print("The {} exists.".format('test'))

The test exists.

In [15]:
print(db.list_collection_names())
collist = db.list_collection_names()
if "employee" in collist:
    print("The employee collection exists.")

['employee']
The employee collection exists.

### Read one record

In [16]:
x = employee.find_one()
print(x)

{'_id': ObjectId('66eceaf58e84545cc0da098a'), 'Name': 'Raj Kumar', 'Address': 'Sears Streer, NZ', 'Age': '42'}

### Read all records

In [17]:
for x in employee.find():
    print(x)

{'_id': ObjectId('66eceaf58e84545cc0da098a'), 'Name': 'Raj Kumar', 'Address': 'Sears Streer, NZ', 'Age': '42'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [20]:
# number of rows to retrieve
n_rows = 2
for i in range(0,n_rows):
    x = employee.find()[i]
    print(x)

{'_id': ObjectId('66eceaf58e84545cc0da098a'), 'Name': 'Raj Kumar', 'Address': 'Sears Streer, NZ', 'Age': '42'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}

In [21]:
myresult = employee.find().limit(5)

for x in myresult:
    print(x)

{'_id': ObjectId('66eceaf58e84545cc0da098a'), 'Name': 'Raj Kumar', 'Address': 'Sears Streer, NZ', 'Age': '42'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}

In [26]:
n_rows = 5
i = 0
while i < n_rows:    
    myresult = employee.find()[i]
    print(myresult)
    i +=1

{'_id': ObjectId('66eceaf58e84545cc0da098a'), 'Name': 'Raj Kumar', 'Address': 'Sears Streer, NZ', 'Age': '42'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}

### Define filters in the search

First brackets define the criteria to filter (advanced queries), if empty, returns all the records (rows).

The second one defines the filters on the data files

In [27]:
for x in employee.find({},{"_id":0,"name":1,"address":1}):
    print(x)

{}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Close st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'name': 'Viola', 'address': 'Sideway Ave'}

In [ ]:
for x in employee.find({}, {'Age': 0}):
    print(x)

![Picture1.png](attachment:Picture1.png)

In [29]:
myquery = {"address": "Highway 37"}
mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}

Challenge question :  Imagine we have multiple documents where the address is “Highway 37“; modify the code above to get only the last 2 documents that satisfy the query above!

In [33]:
mydoc = employee.find(myquery).sort({ 'any_field': -1 }).limit(2);

for x in mydoc:
    print(x)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}

### Regex functions

In [35]:
myquery = {"address": {"$regex": "V"}}

mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}

Challenge question :  write a query that prints all records having the letter  ‘l’ (it’s L in lower case ) in their address field !

In [36]:
myquery = {"address":{"$regex":"l"}}

mydoc = employee.find(myquery) 

for x in mydoc:
    print(x)

{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}

#### OR Function

In [40]:
# look for an address that starts with V or starts with S
#myquery = {"$or":[{"address": {"$regex": "^V"}},
#                  {"address": {"$regex": "^S"}}]}

# simpler method
myquery = {"address": {"$regex": "^V|^S"}}

mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

#### AND function `$and` or ``

In [41]:
myquery = {"$and": [{"address": {"$regex": "Y"}},
                    {"address": {"$regex": "1"}}]}

mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}

In [42]:
myquery = {"$and": [{"address": {"$regex": "Y"}},
                    {"address": {"$regex": "1"}},
                    {"address": {"$regex": "^N"}}]}

mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

#### Logical Not equal `$ne`

In [49]:
myquery = {"name": {"$ne": "John"}}

mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('66eceaf58e84545cc0da098a'), 'Name': 'Raj Kumar', 'Address': 'Sears Streer, NZ', 'Age': '42'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [46]:
myquery = {"$and": [{"name": {"$ne": "Nicky"},},
                    {"address": {"$regex": "1"}}]}

mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}

#### Greater than `$gt`

In [54]:
myquery = {"address": {"$gt": "S"}}

mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

### Sort

In [61]:
mydoc = employee.find().sort({"name":-1,"address":1})


for x in mydoc:
    print(x)

{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': ObjectId('66eceaf58e84545cc0da098a'), 'Name': 'Raj Kumar', 'Address': 'Sears Streer, NZ', 'Age': '42'}

### Set new value `$Set`

Providing the record to be changed based on the query provided in the first field, we can change the specified key and value provided in the second field.

In [64]:
myquery = {"address": "Valley 345"}
newvalues = {"$set": {"address": "Canyon 123"}}

employee.update_one(myquery, newvalues)

for x in employee.find():
    print(x)

{'_id': ObjectId('66eceaf58e84545cc0da098a'), 'Name': 'Raj Kumar', 'Address': 'Sears Streer, NZ', 'Age': '42'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

### Update many records

In [68]:
myquery = {"address": {"$regex": "^C"}}
newvalues = {"$set": {"name":"Minnie"}}

y = employee.update_many(myquery, newvalues)

print(y.modified_count, "documents updated.")

for x in employee.find():
    print(x)

0 documents updated.
{'_id': ObjectId('66eceaf58e84545cc0da098a'), 'Name': 'Raj Kumar', 'Address': 'Sears Streer, NZ', 'Age': '42'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Minnie', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Minnie', 'address': 'Canyon 123'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [69]:
print(y)

UpdateResult({'n': 2, 'nModified': 0, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

### Delete one Document

In [71]:
db.employee.delete_one({"Age":"35"})

DeleteResult({'n': 0, 'ok': 1.0}, acknowledged=True)

In [70]:
myquery = {"address": "Mountain"}
db.employee.delete_one({})

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)